@import "colors"
@import "reset"
@import "vars"
@import "breakpoints"
@import "font"

::-webkit-scrollbar
  width: 6px
  height: 6px
::-webkit-scrollbar-track
  background: #fafafa
::-webkit-scrollbar-thumb
  background: #a4a4a4
::-webkit-scrollbar-thumb:hover
  background: #888888
.container
  max-width: 1440px
  margin: 0 auto
  padding: 0 10px

.news-container
  max-width: 1080px
  margin: 0 auto
  padding: 0 10px
.iframe
  width: 100%
  height: 800px
  border: none
.img
  width: 100%
  height: auto
  object-fit: cover
  &.rounded
    border-radius: 20px
.header-top
  background: var(--headerTop)

  &-link
    color: var(--headerTopLink)

.customBtn
  color: var(--textColor)
  &.downloadBtn
    border: 1px solid var(--buttonBorder)
    font-size: 14px
    width: 100%
    height: 100%

  &.roundedBtn
    border: 1px solid var(--buttonBorder)
    z-index: 10
    & .p-button-label
      font-weight: normal
  &.roundedBtn1
    border: 1px solid var(--buttonBorder)
    border-radius: 8px
    width: 100%
    & .p-button-label
      font-weight: normal
  &.roundedBtn2
    border: 1px solid var(--buttonBorder)
    border-radius: 8px
    background: transparent
    //width: 100%
    & .p-button-label
      font-weight: normal
    &.selected
      background: var(--headerTop)
      color: var(--headerTopLink)
.faq
  max-width: 1000px
  margin: 0 auto

.gallery
  height: 640px
  margin-bottom: 100px
  @include sm-d()
    height: auto
    margin-bottom: 60px


.p-tabview-nav
  background: var(--backgroundColor)
  border-bottom: 1px solid var(--buttonBorder)
  overflow-x: auto
  overflow-y: hidden

.p-tabview-panels
  background: var(--backgroundColor)
  padding: 16px 0
.p-tabview-nav-link
  background: var(--backgroundColor)
  color: var(--textColorGrey)
  border-color: transparent transparent var(--buttonBorder) transparent
.p-tabview-title
  font-weight: normal

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link
  position: relative
  color: var(--textColor)
  border-color: var(--headerTop)

  &::after
    position: absolute
    content: ''
    width: 100%
    height: 1px
    bottom: 0
    left: 0
    background: var(--headerTop)

.p-accordion-header-action
  background: var(--backgroundColor)
  color: var(--textColor)
  border: none
.p-accordion-content
  background: var(--backgroundColor)
  color: var(--textColor)
  border: none


.big-card
  position: relative
  border-radius: 14px
  padding: 32px
  min-height: 460px
  cursor: pointer
  z-index: 1
  overflow: hidden
  border: 1px solid var(--bigCardBorder)
  @include md-d
    min-height: 360px
    padding: 20px
  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    background: var(--bigCardBg)
    z-index: -1
    left: 0
    opacity: 1
    top: 0
    transition: all .2s linear
  &::after
    position: absolute
    content: ''
    width: 100%
    height: 100%
    background: var(--bigCardBgHover)
    z-index: -1
    left: 0
    opacity: 0
    top: 0
    transition: all .2s linear
  &:hover
    &::before
      opacity: 0
    &::after
      opacity: 1

  &-image
    position: absolute
    width: 320px
    height: 260px
    object-fit: contain
    right: 40px
    bottom: 40px
    @include md-d
      position: unset
      width: 100%
      height: auto
      right: 20px
      bottom: 0
  &-image-wrapper
    display: flex
    align-items: center
    justify-content: center
  &-title
    color: var(--textColor)
    font-size: 32px
    margin-bottom: 10px
    //font-weight: 500
    @include md-d
      font-size: 24px
  &-subtitle
    color: var(--textColorGrey)
    font-size: 16px
    //font-weight: 500
    @include md-d
      font-size: 12px

.card
  &-image
    background: var(--bigCardBg)
    border: 1px solid var(--bigCardBorder)
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    margin-bottom: 16px
    img
      width: 80%
      height: auto
      object-fit: contain
  & .roundedBtn1
    transition: all 0.2s linear
    opacity: 0
  &:hover
    & .roundedBtn1
      opacity: 1


.footer
  background: white
  padding: 40px 0
  color: #000
  &-links
    display: grid
    grid-template-columns: 1fr
    grid-gap: 16px

.separator
  width: 100%
  height: 1px
  background: var(--buttonBorder)

.breadbrumbs
  display: flex
  flex-wrap: wrap
  //font-weight: 500
  a
    color: var(--textColorGrey)
    position: relative
    &::after
      content: '/'
      margin: 0 6px


.small-card
  position: relative
  border-radius: 14px
  padding: 24px
  min-height: 460px
  cursor: pointer
  z-index: 1
  overflow: hidden
  border: 1px solid var(--bigCardBorder)
  & .alt_img
    display: none
  img
    width: 100%
    //height: 400px
    object-fit: cover
    display: block
    margin-bottom: 16px
    border-radius: 20px

  &::before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    background: var(--bigCardBg)
    z-index: -1
    left: 0
    opacity: 1
    top: 0
    transition: opacity .2s linear
  &::after
    position: absolute
    content: ''
    width: 100%
    height: 100%
    //--smallCardBgHover
    background: var(--bigCardBgHover)
    z-index: -1
    left: 0
    opacity: 0
    top: 0
    transition: opacity .2s linear
  &:hover
    & .main_img
      display: none
    & .alt_img
      display: block
    &::before
      opacity: 0
    &::after
      opacity: 1
    & .roundedBtn2
      background: white
      color: #000
      border-color: white
  &-top
    font-size: 14px
    color: var(--textCardGrey)
    margin-bottom: 16px
  &-title
    font-size: 18px
    margin-bottom: 16px
    color: var(--textColor)
    min-height: 45px
    @include md-d
      min-height: unset
  &-price
    font-weight: 600
    margin-bottom: 16px
    color: var(--textColor)

.product-image
  width: 100%
  height: 100%
  object-fit: cover
.logo
  width: 124px
  height: 26px
  object-fit: contain
  display: block
.tag
  color: var(--tagColor)

.grey-color
  color: var(--textColorGrey)

.p-paginator
  border: none
  background: var(--backgroundColor)
.p-paginator-first
  display: none
.p-paginator-last
  display: none
.p-paginator-next, .p-paginator-prev
  &:hover
    background: rgb(194, 122, 94)
    color: white
    border: 1px solid rgb(194, 122, 94)
    border-radius: 100%
.p-paginator-page
  border-radius: 100%
  border: 1px solid var(--textColorGrey)
  &:hover
    background: rgb(194, 122, 94)
    color: white
    border: 1px solid rgb(194, 122, 94)
  &.p-highlight
    background: var(--tagColor)
    color: white
    border: 1px solid var(--tagColor)

.grey-block
  padding: 60px
  background: var(--greyBlockBg)
  border-radius: 10px
  &-item
    padding: 28px
    border: 1px solid var(--greyBlockBorder)
    border-radius: 8px
    &.w-hover
      cursor: pointer
      &:hover
        background: var(--greyBlockBg)
        svg
          stroke : #fff
        & .grey-block-icon
          background: var(--blueColor)
  &-number
    color: var(--blueColor)
    margin-bottom: 70px
    font-weight: 500
    font-size: 48px
  &-icon
    background: #f2faf7
    width: 64px
    height: 64px
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 32px
    svg
      stroke : var(--blueColor)
  &-image
    width: 100px
    height: 100px
    object-fit: contain
    display: block
    margin-bottom: 32px
  &-link
    color: var(--textColorGrey)
    &:hover
      color: var(--tagColor)

.p-dropdown
  border: 1px solid var(--greyBlockBorder)
  background: transparent
  & .p-inputtext
    border: none
.p-inputtext
  border: 1px solid var(--greyBlockBorder)
  background: transparent
  padding: 16px
.btnBlue
  background: var(--blueColor)
  border-color: var(--blueColor)
  padding: 16px 30px
  & .p-button-label
    font-weight: 400
.btnLink
  color: white
  background: #DB00FF
  border-color: #DB00FF
  padding: 16px 30px
  & .p-button-label
    font-weight: 400
.p-galleria-item-wrapper
  width: 100%

.p-galleria-item-container
  width: 100%
.p-galleria-thumbnail-wrapper
  padding-left: 10px
.p-galleria-thumbnail-items-container
  height: 550px !important
  @include md-d
    height: unset !important
.p-galleria-thumbnail-container
  background: transparent
  padding: 0
.p-galleria-thumbnail-prev, .p-galleria-thumbnail-next
  display: none
.p-galleria-thumbnail-items
  gap: 10px
.p-galleria-thumbnail-item
  overflow: unset
  height: 100px
.p-galleria-content
  align-items: start
.gallery_img
  width: 100%
  //height: 550px
  object-fit: contain

.gallery_thumb
  width: 100px
  height: 100px
  object-fit: contain
  display: block

.menu-grid
  background: var(--backgroundColor)
.menu-link
  position: relative
.menu-img
  width: 80px
  height: 80px
  object-fit: contain
  display: block
.menu-wrapper
  padding: 15px 0
  &:hover
    & .sub-menu
     display: block
    & .menu-link
      &::after
        position: absolute
        content: ''
        width: 100%
        background: var(--blueColor)
        height: 2px
        left: 0
        bottom: -33px
        z-index: 2

.sub-menu
  display: none
  position: absolute
  z-index: 1
  left: 0
  right: 0
  top: 100px
  background: var(--backgroundColor)
  box-shadow: 0 3px 8px 0 #e3e3e338

  transition: all .2s linear
  padding-top: 30px
  & .container
    padding-bottom: 30px
  &--item
    display: flex
    align-items: center
    gap: 16px
    background: var(--greyBlockBg)
    border-radius: 10px
    padding: 10px

.banner
  //z-index: 1
  width: 100%
  height: 640px
  position: relative
  user-select: none
  //@include sm-d()
  //  height: auto
  &-text-big
    position: absolute
    color: white
    left: 150px
    top: 35%
    max-width: 600px
    font-size: 45px
    @include md-d()
      left: 20px
      font-size: 25px
      top: unset
      bottom: 200px

  &-text-small
    position: absolute
    color: white
    left: 150px
    font-size: 18px
    line-height: 25px
    top: 55%
    max-width: 50%
    @include md-d()
      left: 20px
      right: 20px
      font-size: 11px
      top: unset
      bottom: 80px
      max-width: unset
.p-galleria-indicators
  gap: 15px
.p-galleria .p-galleria-indicators
  position: absolute
  bottom: 10px
  width: 100%
.p-galleria .p-galleria-indicators .p-galleria-indicator button
  position: relative
  width: 10px
  height: 10px

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button
  background-color: white
  &::after
    position: absolute
    content: ''
    width: 24px
    height: 24px
    border-radius: 100%
    border: 1px solid white
    left: -7px

.gallery-img-big
  width: 100%
  height: 100%
  object-fit: cover
  //border-radius: 20px
  @include md-d
    display: none
.gallery-img-small
  width: 100%
  height: 100%
  object-fit: cover
  //border-radius: 20px
  @include lg-u
    display: none


.news-img
  width: 100%
  height: 260px
  object-fit: cover

.p-accordion .p-accordion-header .p-accordion-header-link
  padding: 16px 0 !important
  font-size: 24px
  font-weight: 400

.p-accordion .p-accordion-content
  padding: 16px 0 !important
  font-size: 18px
  line-height: 27px
  p
    max-width: 600px

.arrows
  position: absolute
  display: flex
  justify-content: space-between
  top: 50%
  z-index: 2
  width: 95%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  //@include sm-d()
  //  top: 35%
.arrow
  width: 64px
  height: 64px
  display: block
  cursor: pointer

.max-w-half
  max-width: 50%
  @include md-d
    max-width: 100%

.p-accordion .p-accordion-content
  p
    font-size: 1rem
    font-weight: 400


.support-card
  min-height: 260px

.theme-toggle
  & .p-button-label
    position: relative
    top: 2px

.static-page
  height: 70vh
  @include md-d
    height: unset

.text-xxs
  font-size: 0.625rem

.p-galleria-thumbnails-right .p-galleria-content
  @include md-d
    flex-direction: column !important
.p-galleria-thumbnails-left .p-galleria-thumbnail-items, .p-galleria-thumbnails-right .p-galleria-thumbnail-items
  @include md-d
    flex-direction: row !important


.gallery
  height: 660px
  &-wrapper
    display: grid
    grid-template-columns: 5fr 1fr
    grid-gap: 16px
    @include md-d
      grid-template-columns: 1fr
  &-main
    width: 100%
    height: 100%
    background-size: contain
    background-repeat: no-repeat
    background-position-y: top
    @include md-d
      height: 600px
      background-position-y: center
      background-position-x: center
    @include xs-d
      height: 400px


  &-scroller
    display: grid
    grid-template-rows: repeat(1,100px)
    grid-gap: 8px
    @include md-d
      grid-template-rows: unset
      grid-template-columns: repeat(1000,100px)


    &-image
      &.image-selected
        img
          opacity: 1
      img
        width: 100px
        height: 100px
        object-fit: contain
        display: block
        opacity: .5
        transition: opacity .2s linear

    &-wrapper
      overflow: auto
      height: 660px
      @include md-d
        height: fit-content
        width: 100%
        margin-bottom: 10px

.badges
  position: absolute
  right: 0
  top: 75px
  display: flex
  flex-direction: column
  gap: 5px

.badge
  width: 100px
  height: 30px
  display: flex
  align-items: center
  justify-content: center
  color: white
  font-size: 10px
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  &.is-new
    background: #FC632C
  &.is-pop
    background: #039ED4
  &.is-not-in-stock
    background: #CB1959
  &.is-arrive
    background: #39BA6D

html
  .logo.white
    display: none

html.dark
  .logo.white
    display: block
  .logo.black
    display: none

.video
  width: 100%
  height: 800px
  margin-bottom: 80px
  @include md-d
    height: 350px

.p-carousel .p-carousel-indicators .p-carousel-indicator button

  height: 0.2rem

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button
  background-color: #039ED4